<!-- 
<div *ngIf="country && country.length === 1">
    <div class="title">Busqueda</div>
    <div class="container-country">
        <div class="name-country">
            {{ country[0].name.common }}
        </div>
        <div class="container-flag">
            <span>Bandera:</span>
            <td><img [src]="country[0].flags.svg" [alt]="country[0].name.common"></td>
        </div>
        <div class="container-traduction">
            <h2>Traduccion</h2>
            <div></div>
        </div>
    </div>
    <div class="container-info">
        <h2>informacion</h2>
        <div class="info">
            <div></div>
        </div>
    </div>
    <div class="footer"></div>
</div> -->

